.bash_history
.bash_logout
.bash_profile
.cache/
.cargo/
.conda/
.config/gh/
.config/nextjs-nodejs/
.config/nvim.backup/
.config/obsidian
.dotnet/
.gitconfig
.ipython/
.local/
.npm/
.profile
.psql_history
.python_history
.rustup/
.ssh/
.supabase/
.tmux.conf.backup
.tmux/plugins/tmux-sensible/
.viminfo
.vscode-remote-containers/
.vscode-server/
Documents/
Downloads/
TEST
Test
dotfiles_backup/
dotfiles_temp/
snap/

